name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v1


    - name: Build the Docker image
      env: 
        deploy_key: ${{ secrets.DOCKER_CERT_PATH }}
        DOCKER_HOST: ssh://vlada92ceo@35.246.151.122
      run: |
        sudo curl -L https://github.com/docker/compose/releases/download/1.24.0/docker-compose-`uname -s`-`uname -m` -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
        mkdir -p ~/.ssh
        touch ~/.ssh/known_hosts
        ssh-keyscan 35.246.151.122 >> ~/.ssh/known_hosts      
        echo "${deploy_key}" >> ~/.ssh/id_rsa
        sudo chmod 400 ~/.ssh/id_rsa
        docker-compose -f docker-compose.yml up -d frontend
      
        
        
      
